{% load staticfiles %}
<div class="container pt">
    <div class="row mt centered">
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-book"></span>
            <p>Junior at Revere High School. Currently enrolled in various internships and <a href="http://wwww.nutrons.com">FRC Team 125</a></p>
        </div>
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-briefcase"></span>
            <p>Self-taught different programming languages and works on many open-source <a href="">projects</a></p>
        </div>
        <div class="col-lg-4">
            <span class="glyphicon glyphicon-globe"></span>
            <p>Coding the world. Code maintain in <a href="https://github.com/camilo86">github</a> for everyone to see and use. All open-source</p>
        </div>
    </div>
    <!-- /row -->
    <div class="row mt">
        <div class="col-lg-6">
            <h3>Experience</h3>
            <p>During the last couple years, I’ve gained a lot of knowledge in the programing world. Wrote my first lines of code
			when I was 9, since then I self-thought various programing languages. I gain proficient knowledge and experience in
			coding the web through HTML, CSS, JavaScript, Python, PHP. Used programing languages such as Java, C, C++, Arduino
			extensively in my own time. I’ve also worked for startups such as Santé as a web developer, and I’m currently in the
			process of building one myself. Worked at Northeastern University as an intern in Human Computer Interactive Social
			Media Understanding video action – recognition where I used languages such as C++ and MatLab to predict future actions and act upon the possiblities</p>
        </div>
        <!-- /colg-lg-6 -->
        <div class="col-lg-6">
            <h3>Skills</h3>
            HTML + CSS + JavaScript
            <div class="progress">
                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
            Python
            <div class="progress">
                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                    <span class="sr-only">50% Complete</span>
                </div>
            </div>
            Java
            <div class="progress">
                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                    <span class="sr-only">75% Complete</span>
                </div>
            </div>
			C++
            <div class="progress">
                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
			Arduino
            <div class="progress">
                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                    <span class="sr-only">90% Complete</span>
                </div>
            </div>
			Matlab
            <div class="progress">
                <div class="progress-bar progress-bar-theme" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </div>
        <!-- /col-lg-6 -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->
