{% load staticfiles %}
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>Have any question?</h4>
                <p>
                    Feel free to <a href="{% url 'contactMe' %}">contact me</a>.<br/>
                    If asking about a project, <br/>
                    please specify which one
                </p>
            </div>
            <!-- /col-lg-4 -->
            <div class="col-lg-4">
                <h4>Social media</h4>
                <p>
                    <a href="https://twitter.com/camilo_g86">Twitter</a><br/>
                    <a href="https://github.com/camilo86">Github</a><br/>
                    <a href="https://www.linkedin.com/profile/view?id=300943739&trk=nav_responsive_tab_profile_pic">LinkedIn</a>
                </p>
            </div>
            <!-- /col-lg-4 -->
            <div class="col-lg-4">
                <h4>Latest blog post</h4>
                <p>Blog post title here</p>
            </div>
            <!-- /col-lg-4 -->
        </div>
    </div>
</div>

<script src="{% static "js/bootstrap.min.js" %}"></script>